<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body class="body__bg">
    {{> header }}
    <main>
      <section class="container chat__wrapper">
        <div class="chat__users">
          <div class="search-wrapper">
            <div class="input-search__wrapper">
              <img
                class="input-search__img"
                src="./assets/images/header/zoom-mini.svg"
                alt="zoom"
              />
              <input
                class="input-search"
                type="search"
                name="search"
                aria-label="Search through site content"
                placeholder="Search for users that you follow"
              />
            </div>
          </div>

          <ul class="chat__user-carts">
            <li class="user-cart">
              <img
                class="user__avatar"
                src="./assets/images/chat/user1.png"
                alt="user"
                width="56"
                height="56"
              />

              <div class="user__info">
                <h3 class="title">Layla Brown</h3>
                <p class="text">Nice to meet you too!</p>
              </div>
            </li>

            <li class="user-cart">
              <img
                class="user__avatar"
                src="./assets/images/chat/user2.png"
                alt="user"
                width="56"
                height="56"
              />

              <div class="user__info">
                <h3 class="title">Layla Brown</h3>
                <p class="text">Nice to meet you too!</p>
              </div>

              <div class="message-count">2</div>
            </li>

            <li class="user-cart">
              <img
                class="user__avatar"
                src="./assets/images/chat/user3.png"
                alt="user"
                width="56"
                height="56"
              />

              <div class="user__info">
                <h3 class="title">Layla Brown</h3>
                <p class="text">Nice to meet you too!</p>
              </div>
              <div class="message-count">9</div>
            </li>

            <li class="user-cart">
              <img
                class="user__avatar"
                src="./assets/images/chat/user4.png"
                alt="user"
                width="56"
                height="56"
              />

              <div class="user__info">
                <h3 class="title">Layla Brown</h3>
                <p class="text">Nice to meet you too!</p>
              </div>
              <div class="message-count">12</div>
            </li>

            <li class="user-cart">
              <img
                class="user__avatar"
                src="./assets/images/chat/user5.png"
                alt="user"
                width="56"
                height="56"
              />

              <div class="user__info">
                <h3 class="title">Layla Brown</h3>
                <p class="text">Nice to meet you too!</p>
              </div>
              <div class="message-count">1</div>
            </li>
          </ul>
        </div>
        <div class="chat__content">
          <div class="active__active">
            <img
              src="./assets/images/chat/user3.png"
              alt="user"
              width="39"
              height="39"
            />
            <h3 class="user-title">Max Richardson</h3>
          </div>

          <div class="chat-window">
            <div class="message-date">Thursday, 12 Mar 2020</div>
            <div class="my-message">It was nice meeting you!</div>
            <div class="guest-message__wrapper">
              <img
                src="./assets/images/chat/user3.png"
                alt="user"
                width="39"
                height="39"
              />
              <div class="guest-message">Nice to meet you too!</div>
            </div>
          </div>

          <div class="message-input__wrapper">
            <div class="load-file">
              <svg class="icon" width="17" heigth="17">
                <use
                  href="./assets/images/symbol-defs.svg#icon-file-picture"
                ></use>
              </svg>
            </div>
            <div class="input-wrapper">
              <input
                class="input-text"
                type="text"
                name="name"
                placeholder="Say something nice..."
              />
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
