<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body class="body__bg">
    {{> header }}
    <main>
      <section class="chat-3">
        <div class="chat-3__bg">
          <div class="container-mini chat-3__profile">
            <div class="img-wrapper">
              <img
                class="profile-img"
                src="./assets/images/header/sharon-garcia-KsSmVZJkHqo-unsplash@2x.png"
                alt="user"
                width="169"
                height="169"
              />
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
