<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> header}}
    <main class="container main edit-profile">
      <div class="nav-wrapper">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#"> Edit profile </a>
            </li>
            <li class="nav-item"><a href="#">Push notifications</a></li>
            <li class="nav-item"><a href="#">Language</a></li>
            <li class="nav-item"><a href="#">Security</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
            <li class="nav-item"><a href="#">About us</a></li>
            <li class="nav-item twitter-link">
              <a href="#"> Visit our Twitter page </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="edit-profile__content">
        <h1 class="title">Edit profile</h1>
        <div class="bg-image">
          <div class="img-wrapper">
            <img
              src="./assets/images/header/sharon-garcia-KsSmVZJkHqo-unsplash@2x.png"
              alt="user"
              width="114"
              height="114"
            />
          </div>
        </div>
        <h2 class="user-name">Mikaela White</h2>
        <div class="input-wrapper">
          <div class="user-name__input-wrapper input-wrapper">
            <input
              class="input-text"
              type="text"
              name="name"
              placeholder="Display name"
            />
            <span class="user-name__input-descr">Display name</span>
          </div>
          <div class="user-name__input-wrapper input-wrapper">
            <input
              class="input-text"
              type="text"
              name="name"
              placeholder="Email"
            />
            <span class="user-name__input-descr">Email</span>
          </div>
          <div class="user-name__input-wrapper input-wrapper">
            <input
              class="input-text"
              type="text"
              name="name"
              placeholder="Bio"
            />
            <span class="user-name__input-descr">Bio</span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
