<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body class="body__bg">
    {{> header }}
    <main class="container main">
      <section class="user-post__wrapper">
        <div class="main-container">
          <div class="user-post">
            <img
              class="user-post-img"
              src="./assets/images/user-post/user1.png"
              width="56"
              height="56"
              alt="user"
            />
            <div class="user-post__text-wrapper">
              <h2 class="title">Jessica Thorne</h2>
              <p class="time">3 minute ago</p>
            </div>
          </div>

          <p class="user-post__description">
            Japanese food with my friends Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua ali
          </p>

          <div class="user-post__img-wraper">
            <img
              class="img"
              src="./assets/images/user-post/img-user1.png"
              alt="post image"
            />
          </div>
          <div class="user-post__likes">
            <div class="user-post__likes-box">
              <img
                class="img"
                src="./assets/images/user-post/favorite.svg"
                alt="favorite"
                width="22"
                height="20"
              />
              <p class="counter">124</p>
            </div>
            <div class="user-post__likes-box">
              <img
                class="img"
                src="./assets/images/user-post/comment.svg"
                alt="favorite"
                width="22"
                height="20"
              />
              <p class="counter">123</p>
            </div>
          </div>
          <div class="user-post__comments">
            <p class="info">View 5 comments</p>
            <div class="user-post__comments-info">
              <h3 class="user-info">John Smith</h3>
              <p class="user-text">John Smith</p>
            </div>
            <div class="user-post__comments-info">
              <h3 class="user-info">Dylan Hunter</h3>
              <p class="user-text">You should be a food photographer!</p>
            </div>
          </div>

          <div class="input-wrapper">
            <input
              class="input-text"
              type="text"
              name="comments"
              placeholder="Add comments"
            />
            <span class="user-name__input-descr">Add comments</span>
          </div>
        </div>
      </section>

      <section class="user-post__wrapper">
        <div class="main-container">
          <div class="user-post">
            <img
              class="user-post-img"
              src="./assets/images/user-post/user2.png"
              width="56"
              height="56"
              alt="user"
            />
            <div class="user-post__text-wrapper">
              <h2 class="title">Max Richardson</h2>
              <p class="time">10 minute ago</p>
            </div>
          </div>

          <p class="user-post__description">
            Holiday with my friends at #place
          </p>

          <div class="user-post__img-wraper">
            <img
              class="img"
              src="./assets/images/user-post/user2-post.png"
              alt="post image"
            />
          </div>
          <div class="user-post__likes">
            <div class="user-post__likes-box">
              <img
                class="img"
                src="./assets/images/user-post/favorite.svg"
                alt="favorite"
                width="22"
                height="20"
              />
              <p class="counter">124</p>
            </div>
            <div class="user-post__likes-box">
              <img
                class="img"
                src="./assets/images/user-post/comment.svg"
                alt="favorite"
                width="22"
                height="20"
              />
              <p class="counter">123</p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
