<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body class="body__bg">
    <header class="header">
      <div class="header-container container">
        <div class="logo-wrapper">
          <img class="logo" src="./assets/images/logo.png" alt="Logo" />
          <h1 class="title">Relica</h1>
        </div>

        <div class="input-search__wrapper">
          <img
            class="input-search__img"
            src="./assets/images/header/zoom-mini.svg"
            alt="zoom"
          />
          <input
            class="input-search"
            type="search"
            name="search"
            aria-label="Search through site content"
            placeholder="Search form"
          />
        </div>

        <button class="btn btn__gradient" type="button">Make a post</button>

        <ul class="header__social-list">
          <li class="header__social-item">
            <img
              src="./assets/images/header/bubble-speak.svg"
              alt="bubble-speak"
            />
          </li>
          <li class="header__social-item">
            <img src="./assets/images/header/alarm.svg" alt="alarm" />
          </li>
          <li class="header__social-item">
            <img src="./assets/images/header/zoom.svg" alt="zoom" />
          </li>
        </ul>

        <div class="header__avatar">
          <img
            class="header__avatar-img"
            src="./assets/images/header/sharon-garcia-KsSmVZJkHqo-unsplash.png"
            alt="avatar"
            width="43px"
            height="43px"
          />

          <ul class="user-menu user-menu__list">
            <li class="user-menu__item">Profile</li>
            <li class="user-menu__item">Setting</li>
            <li class="user-menu__item">Log out</li>
          </ul>
        </div>
      </div>
    </header>
    <main class="container main">
      <section class="user-post__wrapper">
        <div class="main-container">
          <div class="user-post">
            <img
              class="user-post-img"
              src="./assets/images/user-post/user1.png"
              width="56"
              height="56"
              alt="user"
            />
            <div class="user-post__text-wrapper">
              <h2 class="title">Jessica Thorne</h2>
              <p class="time">3 minute ago</p>
            </div>
          </div>

          <p class="user-post__description">
            Japanese food with my friends Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua ali
          </p>

          <div class="user-post__img-wraper">
            <img
              class="img"
              src="./assets/images/user-post/img-user1.png"
              alt="post image"
            />
          </div>
          <div class="user-post__likes">
            <div class="user-post__likes-box">
              <img
                class="img"
                src="./assets/images/user-post/favorite.svg"
                alt="favorite"
                width="22"
                height="20"
              />
              <p class="counter">124</p>
            </div>
            <div class="user-post__likes-box">
              <img
                class="img"
                src="./assets/images/user-post/comment.svg"
                alt="favorite"
                width="22"
                height="20"
              />
              <p class="counter">123</p>
            </div>
          </div>
          <div class="user-post__comments">
            <p class="info">View 5 comments</p>
            <div class="user-post__comments-info">
              <h3 class="user-info">John Smith</h3>
              <p class="user-text">John Smith</p>
            </div>
            <div class="user-post__comments-info">
              <h3 class="user-info">Dylan Hunter</h3>
              <p class="user-text">You should be a food photographer!</p>
            </div>
          </div>

          <div class="input-wrapper">
            <input
              class="input-text"
              type="text"
              name="comments"
              placeholder="Add comments"
            />
            <span class="user-name__input-descr">Add comments</span>
          </div>
        </div>
      </section>

      <section class="user-post__wrapper">
        <div class="main-container">
          <div class="user-post">
            <img
              class="user-post-img"
              src="./assets/images/user-post/user2.png"
              width="56"
              height="56"
              alt="user"
            />
            <div class="user-post__text-wrapper">
              <h2 class="title">Max Richardson</h2>
              <p class="time">10 minute ago</p>
            </div>
          </div>

          <p class="user-post__description">
            Holiday with my friends at #place
          </p>

          <div class="user-post__img-wraper">
            <img
              class="img"
              src="./assets/images/user-post/user2-post.png"
              alt="post image"
            />
          </div>
          <div class="user-post__likes">
            <div class="user-post__likes-box">
              <img
                class="img"
                src="./assets/images/user-post/favorite.svg"
                alt="favorite"
                width="22"
                height="20"
              />
              <p class="counter">124</p>
            </div>
            <div class="user-post__likes-box">
              <img
                class="img"
                src="./assets/images/user-post/comment.svg"
                alt="favorite"
                width="22"
                height="20"
              />
              <p class="counter">123</p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
