<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body class="body__bg">
    {{> header }}
    <main>
      <section class="container-middle notification">
        <h1 class="notification__title">Notification</h1>
        <nav class="notification__nav">
          <ul class="item">
            <li class="list">Activity Log</li>
            <li class="list">Income</li>
          </ul>
        </nav>
        <div class="notification__content">
          <div class="notification__active-logs">
            <!-- 1 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/heart.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">mikepradofoto</h3>
                    <span class="desc">liked your picture!</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img">
                <img
                  src="./assets/images/chat/img6.png"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
            <!-- 2 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/heart.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">PXL3000</h3>
                    <span class="desc">liked your picture!</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img">
                <img
                  src="./assets/images/chat/img6.png"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
            <!-- 3 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/heart.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">Hatty</h3>
                    <span class="desc">liked your picture!</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img">
                <img
                  src="./assets/images/chat/img4.png"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
            <!-- 4 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/circle-red.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">mikepradofoto</h3>
                    <span class="desc">started following you</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img">
                <img
                  class="not-image"
                  src="./assets/images/svg/logo-w.svg"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
            <!-- 5 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/heart.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">mikepradofoto</h3>
                    <span class="desc">liked your picture!</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img">
                <img
                  src="./assets/images/chat/img4.png"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
            <!-- 6 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/heart.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">wutao</h3>
                    <span class="desc">liked your picture!</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img">
                <img
                  src="./assets/images/chat/img6.png"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
            <!-- 7 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/heart.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">Braden</h3>
                    <span class="desc">liked your picture!</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img">
                <img
                  src="./assets/images/chat/img6.png"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
            <!-- 8 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/heart.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">mikepradofoto</h3>
                    <span class="desc">liked your picture!</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img">
                <img
                  src="./assets/images/chat/img6.png"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
            <!-- 9 -->
            <div class="active-log">
              <div class="info-wrapper">
                <div class="like">
                  <img
                    src="./assets/images/svg/circle-red.svg"
                    alt="heart"
                    width="26"
                    height="26"
                  />
                </div>
                <div class="info">
                  <div class="info-wrapper">
                    <h3 class="title">Neyrotphoto</h3>
                    <span class="desc">liked your picture!</span>
                  </div>
                  <span class="time-ago">13m ago</span>
                </div>
              </div>
              <div class="target-img change">
                <img
                  src="./assets/images/chat/user3.png"
                  width="56"
                  height="56"
                  alt="images"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
