.btn__back {
  display: flex;
  align-items: center;
  color: $color-blue-v1;
  fill: $color-blue-v1;
  cursor: pointer;
  font-size: 1.6rem;

  &:hover,
  &:focus {
    color: $color-blue-v2;
    fill: $color-blue-v2;
  }

  .arrow-svg {
    margin-right: 0.35em;
  }
}
