.logo-wrapper {
  display: flex;
  align-items: center;
  color: #fff;

  .logo {
    max-width: 78px;
    max-height: 78px;
  }

  .title {
    margin-left: 20px;
    font-size: 43px;
  }
}

@media screen and (max-width: 992px) {
  .logo-wrapper {
    .logo {
      max-width: 65px;
      max-height: 65px;
    }

    .title {
      font-size: 36px;
    }
  }
}
