// COLORS
$color-grey-base: grey;
$color-grey: #d6d6d6;
$color-grey-v1: #d1dcde;
$color-grey-v2: #dbdbdb;
$color-grey-v3: #939393;
$color-grey-v4: #ededed;
$color-grey-v5: #c3c3c3;

$color-white: #fff;

$color-blue-v1: #10a5f5;
$color-blue-v2: #00dbff;
$color-blue-v3: #39dbff;
$color-blue-v4: #28a5f5;
$color-blue-v5: #00aecb;
$color-blue-v6: #0b91d9;
$color-blue-v7: #f0f9fd;

$color-black: #000;

$shadow-v1: #00000008;
