<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main>
      <section class="hero">
        {{> hero-img }}
        <div class="hero__context">
          <h2 class="title">Welcome</h2>
          <p class="question">How can we help you today?</p>

          <ul class="btn__list">
            <li class="btn__item">
              <a class="btn btn__link" href="#">
                <p>Login with wallet</p>
              </a>
            </li>
            <li class="btn__item">
              <a class="btn btn__link" href="./select-wallet.html">
                <p>Login with Wallet</p>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
