.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  min-height: 5.6rem;
  border: 1px solid $color-grey-base;
  border-radius: 3rem;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 0 0 3px $color-grey-base;

  &:hover,
  &:focus {
    background: linear-gradient(45deg, $color-blue-v3, $color-blue-v4);
    border: 1px solid $color-blue-v3;
    box-shadow: 0 0 3px $color-blue-v3;
    color: $color-white;
  }
}

.btn.btn__gradient {
  background: linear-gradient(45deg, $color-blue-v3, $color-blue-v4);
  border: 1px solid $color-blue-v3;
  color: $color-white;

  &:hover,
  &:focus {
    background: linear-gradient(45deg, $color-blue-v5, $color-blue-v6);
    border-color: $color-blue-v4;
  }
}

@media screen and (max-width: 992px) {
  .btn {
    width: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}
