.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 398px;
  min-height: 56px;
  border: 1px solid grey;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 3px gray;

  &:hover,
  &:focus {
    background: linear-gradient(45deg, #39dbff, #28a5f5);
    border: 1px solid #39dbff;
    box-shadow: 0 0 3px #39dbff;
    color: #fff;
  }
}

.btn.btn__gradient {
  background: linear-gradient(45deg, #39dbff, #28a5f5);
  border: 1px solid #39dbff;
  color: $color-white;

  &:hover,
  &:focus {
    background: linear-gradient(45deg, #00aecb, #0b91d9);
    border-color: #28a5f5;
  }
}

@media screen and (max-width: 992px) {
  .btn {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}
