.input-checkbox__wrapper {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.input-checkbox {
  margin-right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
}
