* {
  box-sizing: border-box;
}

.Dropdown {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.Dropdown button {
  width: 80%;
}

.Dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: teal;
  color: white;
  text-transform: uppercase;
}
